.waifu-tips {
	{margin:20px -8px 0!
	important;padding:15px!
	important;border-radius:5px;
	background-color:#fff;
	-webkit-box-shadow:0 .5em 3em rgba(161,177,204,.4);
	box-shadow:0 .5em 3em rgba(161,177,204,.4);
	background-color:#fff}
}
